# visual studio code
.vscode

# pycharm ide
.idea/
venv/

# python cache files
**/**/__pycache__/*
**/__pycache__/*
__pycache__/

# sqlite db file
db.sqlite3

# upload media folder & files
media/

# production static folder
static/